
<form action="" method="POST" role="form">
  <legend>Form title</legend>

  <div class="form-group">
    <label for="">label1</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">label2</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">label3</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">label4</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>


  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
